@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgba(0,0,0,0.9);
    color: #EEE;
    font-family: 'Noto Sans';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fira Code';
}
